<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!-- DTO Alias -->
        <typeAlias type="com.app.springapp.domain.dto.response.LogListResponseDTO" alias="LogListResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.AiChatRequestDTO" alias="AiChatRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.AiChatResponseDTO" alias="AiChatResponseDTO"/>
        <!-- VO Alias -->
        <typeAlias type="com.app.springapp.domain.vo.AiChatVO" alias="AiChatVO"/>
        <typeAlias type="com.app.springapp.domain.vo.LogResultVO" alias="LogResultVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ProjectVO" alias="ProjectVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ChecklistVO" alias="ChecklistVO"/>
    </typeAliases>
</configuration>