<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.GuestbookRereplyReportMapper">
    <insert id="insert" parameterType="GuestbookRereplyReportCreateRequestDTO">
        INSERT INTO TBL_GUESTBOOK_REREPLY_REPORT
        VALUES (SEQ_GUESTBOOK_REREPLY_REPORT.NEXTVAL, #{guestbookRereplyReportContent}, CURRENT_TIMESTAMP, #{memberId}, #{guestbookRereplyId}, #{reportReasonCategoryId})
    </insert>
</mapper>
