<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.GuestbookMapper">

<!--    방명록 작성 (insert) -->
<!--    내용, 프로필 주인 ID, 작성자 ID를 받아 저장합니다.-->
    <insert id="insert" parameterType="GuestbookCreateRequestDTO" >
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT SEQ_GUESTBOOK.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_GUESTBOOK (ID, GUESTBOOK_CONTENT, OWNER_MEMBER_ID, WRITER_MEMBER_ID)
        VALUES (#{id}, #{guestbookContent}, #{ownerMemberId}, #{writerMemberId})
    </insert>

<!--    방명록 목록 조회 (selectListByOwnerId)  -->

    <select id="selectListByOwnerMemberId" parameterType="GuestbookResponseDTO" resultType="GuestbookResponseDTO">
        SELECT TBG.ID,
               TBG.GUESTBOOK_CONTENT,
               TBG.GUESTBOOK_CREATED_AT,
               TBG.OWNER_MEMBER_ID,
               TBG.WRITER_MEMBER_ID,
               TBW.MEMBER_NICKNAME AS WRITER_NICKNAME,
               TBW.MEMBER_PROFILE_IMAGE_URL AS WRITER_PROFILE_IMAGE_URL,
               TBO.MEMBER_NICKNAME AS OWNER_NICKNAME,
               (SELECT COUNT(*) FROM TBL_GUESTBOOK_LIKE TBGL
        WHERE TBGL.GUESTBOOK_ID = TBG.ID) AS LIKE_COUNT
        FROM TBL_GUESTBOOK TBG
        JOIN TBL_MEMBER TBW ON TBG.WRITER_MEMBER_ID = TBW.ID
        JOIN TBL_MEMBER TBO ON TBG.OWNER_MEMBER_ID = TBO.ID
        WHERE TBG.OWNER_MEMBER_ID = #{ownerMemberId}
        ORDER BY TBG.GUESTBOOK_CREATED_AT DESC
    </select>

<!--    방명록 단건 조회 (selectById)-->
    <select id="selectById" parameterType="Long" resultType="GuestbookResponseDTO">
        SELECT TBG.ID,
               TBG.GUESTBOOK_CONTENT,
               TBG.GUESTBOOK_CREATED_AT,
               TBG.OWNER_MEMBER_ID,
               TBG.WRITER_MEMBER_ID,
               TBM.MEMBER_NICKNAME AS WRITER_NICKNAME,
               TBM.MEMBER_PROFILE_IMAGE_URL AS WRITER_PROFILE_IMAGE_URL,
               (SELECT COUNT(*) FROM TBL_GUESTBOOK_LIKE TBGL
               WHERE TBGL.GUESTBOOK_ID = TBG.ID) AS LIKE_COUNT
        FROM TBL_GUESTBOOK TBG
        JOIN TBL_MEMBER TBM ON TBG.WRITER_MEMBER_ID = TBM.ID
        WHERE TBG.ID = #{id}
    </select>

<!--    방명록 글자로 검색 (selectByText) -->
    <select id="selectByText" parameterType="String" resultType="GuestbookResponseDTO">
        SELECT  TBG.ID,
                TBG.GUESTBOOK_CONTENT,
                TBG.GUESTBOOK_CREATED_AT,
                TBG.OWNER_MEMBER_ID,
                TBG.WRITER_MEMBER_ID,
                TBM.MEMBER_NICKNAME AS WRITER_NICKNAME,
                TBM.MEMBER_PROFILE_IMAGE_URL AS WRITER_PROFILE_IMAGE_URL,
                (SELECT COUNT(*) FROM TBL_GUESTBOOK_LIKE TBGL
        WHERE TBGL.GUESTBOOK_ID = TBG.ID) AS LIKE_COUNT
        FROM TBL_GUESTBOOK TBG
        JOIN TBL_MEMBER TBM ON TBG.WRITER_MEMBER_ID = TBM.ID
        WHERE TBG.GUESTBOOK_CONTENT LIKE '%' || #{keyword} || '%'
        ORDER BY TBG.GUESTBOOK_CREATED_AT DESC
    </select>

<!--    방명록 수정 (update)-->
    <update id="updateGuestbookContentByWriterMemberId" parameterType="GuestbookVO">
        UPDATE TBL_GUESTBOOK
        SET GUESTBOOK_CONTENT = #{guestbookContent}
        WHERE ID = #{id}
        AND WRITER_MEMBER_ID = #{writerMemberId}
    </update>

<!--    방명록 삭제 (delete)-->
    <delete id="deleteByGuestbookByWriterMemberIdAndOwnerMemberId" parameterType="GuestbookVO">
        DELETE FROM TBL_GUESTBOOK
        WHERE ID = #{id}
        AND (WRITER_MEMBER_ID = #{writerMemberId}
        OR OWNER_MEMBER_ID = #{ownerMemberId})
    </delete>

    <!-- 방명록에 속한 대댓글 좋아요 일괄 삭제 -->
    <delete id="deleteRereplyLikesByGuestbookId" parameterType="Long">
        DELETE FROM TBL_GUESTBOOK_REREPLY_LIKE
        WHERE GUESTBOOK_REREPLY_ID IN (
            SELECT RR.ID FROM TBL_GUESTBOOK_REREPLY RR
            JOIN TBL_GUESTBOOK_REPLY R ON RR.GUESTBOOK_REPLY_ID = R.ID
            WHERE R.GUESTBOOK_ID = #{guestbookId}
        )
    </delete>

    <!-- 방명록에 속한 대댓글 일괄 삭제 -->
    <delete id="deleteRerepliesByGuestbookId" parameterType="Long">
        DELETE FROM TBL_GUESTBOOK_REREPLY
        WHERE GUESTBOOK_REPLY_ID IN (
            SELECT ID FROM TBL_GUESTBOOK_REPLY
            WHERE GUESTBOOK_ID = #{guestbookId}
        )
    </delete>

    <!-- 방명록에 속한 답글 좋아요 일괄 삭제 -->
    <delete id="deleteReplyLikesByGuestbookId" parameterType="Long">
        DELETE FROM TBL_GUESTBOOK_REPLY_LIKE
        WHERE GUESTBOOK_REPLY_ID IN (
            SELECT ID FROM TBL_GUESTBOOK_REPLY
            WHERE GUESTBOOK_ID = #{guestbookId}
        )
    </delete>

    <!-- 방명록에 속한 답글 일괄 삭제 -->
    <delete id="deleteRepliesByGuestbookId" parameterType="Long">
        DELETE FROM TBL_GUESTBOOK_REPLY
        WHERE GUESTBOOK_ID = #{guestbookId}
    </delete>

    <!-- 방명록 좋아요 삭제 -->
    <delete id="deleteLikesByGuestbookId" parameterType="Long">
        DELETE FROM TBL_GUESTBOOK_LIKE
        WHERE GUESTBOOK_ID = #{guestbookId}
    </delete>

</mapper>