<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.PostMapper">

<!-- id로 게시글 찾기 (멤버id로 좋아요 여부기능)-->
    <select id="selectById" parameterType="PostReadRequestDTO" resultType="PostResponseDTO">
        SELECT
            TBP.ID,
            TBP.POST_CONTENT,                                                     -- CLOB 서브쿼리 밖에서 조회
            TBP.POST_TITLE,
            TO_CHAR(TBP.POST_CREATED_AT, 'YYYY-MM-DD"T"HH24:MI:SS') AS POST_CREATED_AT,
            TBP.POST_READ_COUNT,
            TBP.POST_THUMBNAIL_URL,
            TBS.MEMBER_ID,
            TBS.MEMBER_NICKNAME,
            TBS.MEMBER_PROFILE_IMAGE_URL,
            TBS.CATEGORY_ID,
            TBS.CATEGORY_NAME,
            TBS.LIKE_COUNT,
            TBS.IS_LIKED
        FROM TBL_POST TBP
                 JOIN (
            SELECT
                TBP.ID                                                                AS POST_ID,
                TBM.ID                                                                AS MEMBER_ID,
                TBM.MEMBER_NICKNAME,
                TBM.MEMBER_PROFILE_IMAGE_URL,
                TBC.ID                                                                AS CATEGORY_ID,
                TBC.CATEGORY_NAME,
                COUNT(TBPL.ID)                                                        AS LIKE_COUNT,
                MAX(CASE WHEN TBPL.MEMBER_ID = #{memberId} THEN 1 ELSE 0 END)        AS IS_LIKED
            FROM TBL_POST TBP
                     JOIN TBL_MEMBER   TBM  ON TBP.MEMBER_ID   = TBM.ID
                     JOIN TBL_CATEGORY TBC  ON TBP.CATEGORY_ID = TBC.ID
                     LEFT JOIN TBL_POST_LIKE TBPL ON TBP.ID    = TBPL.POST_ID
            WHERE TBP.ID = #{postId}
              AND TBP.POST_DELETED_AT IS NULL
            GROUP BY
                TBP.ID,
                TBM.ID,
                TBM.MEMBER_NICKNAME,
                TBM.MEMBER_PROFILE_IMAGE_URL,
                TBC.ID,
                TBC.CATEGORY_NAME
        ) TBS ON TBP.ID = TBS.POST_ID
    </select>

    <!-- POST ID로 이전글 찾기 "<"는 열린 태그로 인식되기때문에 오류가뜬다. "&lt;로 수정-->
    <!-- 혹은 ![CDATA]로 감싸면 오류가 안난다 -->
    <select id="selectBeforePost" parameterType="Long" resultType="PostBeforeResponseDTO">
    <![CDATA[
        SELECT ID, POST_TITLE
        FROM TBL_POST
        WHERE ID = (
            SELECT MAX(ID)
            FROM TBL_POST
            WHERE ID < #{id}
              AND POST_DELETED_AT IS NULL
        )
        ]]>
    </select>

    <!-- POST ID로 다음글 찾기 -->
    <select id="selectAfterPost" parameterType="Long" resultType="PostAfterResponseDTO">
        SELECT ID, POST_TITLE
        FROM TBL_POST
        WHERE ID = (
            SELECT MIN(ID)
            FROM TBL_POST
            WHERE ID > #{id}
                AND POST_DELETED_AT IS NULL
        )
    </select>

    <!-- 작성자가 작성한 게시글 수 -->
    <select id="selectPostCountByMemberId" parameterType="Long" resultType="Integer">
        SELECT COUNT(*) AS POST_COUNT FROM TBL_POST
        WHERE MEMBER_ID = #{id}
    </select>


    <!-- 게시글 작성 -->
    <insert id="insert" parameterType="PostCreateDTO">
        <selectKey resultType="Long" order="BEFORE" keyProperty="id">
            SELECT SEQ_POST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, MEMBER_ID, CATEGORY_ID)
        VALUES (#{id}, #{postTitle}, #{postContent}, #{memberId}, #{categoryId})
    </insert>
</mapper>