<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.ReplyMapper">

    <!-- 게시글id와 멤버id로 댓글 정보 목록 불러오기 -->
    <select id="selectAll" parameterType="PostReadRequestDTO" resultType="ReplyDTO">
        SELECT
            TBR.ID,
            TBR.POST_ID,
            TBR.REPLY_CONTENT,
            TO_CHAR(TBR.REPLY_CREATED_AT, 'YYYY-MM-DD"T"HH24:MI:SS') AS REPLY_CREATED_AT,
            TBM.ID                                                         AS MEMBER_ID,
            TBM.MEMBER_NICKNAME,
            TBM.MEMBER_PROFILE_IMAGE_URL,
            COUNT(TBRL.ID)                                                 AS LIKE_COUNT,
            MAX(CASE WHEN TBRL.MEMBER_ID = #{memberId} THEN 1 ELSE 0 END) AS IS_LIKED
        FROM TBL_REPLY TBR
                 JOIN TBL_MEMBER TBM          ON TBR.MEMBER_ID = TBM.ID
                 LEFT JOIN TBL_REPLY_LIKE TBRL ON TBR.ID        = TBRL.REPLY_ID
        WHERE TBR.POST_ID = #{postId}
        GROUP BY
            TBR.ID,
            TBR.POST_ID,
            TBR.REPLY_CONTENT,
            TBR.REPLY_CREATED_AT,
            TBM.ID,
            TBM.MEMBER_NICKNAME,
            TBM.MEMBER_PROFILE_IMAGE_URL
        ORDER BY TBR.REPLY_CREATED_AT DESC
    </select>

    <!-- 게시글 id로 모든 댓글id 불러오기 -->
    <select id="selectAllIdByPostId" parameterType="Long" resultType="Long">
        SELECT ID
        FROM TBL_REPLY
        WHERE POST_ID = #{id}
    </select>

    <!-- 작성자가 작성한 댓글 수 -->
    <select id="selectReplyCountByMemberId" parameterType="Long" resultType="Integer">
        SELECT COUNT(*) AS REPLY_COUNT FROM TBL_REPLY
        WHERE MEMBER_ID = #{id}
    </select>

    <!-- 댓글 작성 -->
    <insert id="insert" parameterType="ReplyCreateRequestDTO">
        INSERT INTO TBL_REPLY
        VALUES (SEQ_REPLY.NEXTVAL, #{replyContent}, CURRENT_TIMESTAMP, #{postId}, #{memberId})
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateReplyContentById" parameterType="ReplyUpdateRequestDTO">
        UPDATE TBL_REPLY
        SET REPLY_CONTENT = #{replyContent}
        WHERE ID = #{id}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_REPLY
        WHERE ID = #{id}
    </delete>

</mapper>